{% load static %}

<div class="card my-4">
    <h5 class="card-header" style="background-color: #cfd8dc">Прокомментируй:</h5>
    <div class="card-body" style="background-color: #eceff1">
        <form>
            <div class="form-group">
                <textarea class="form-control" rows="3" style="background-color: #eceff1"></textarea>
            </div>
            <button type="submit" class="btn btn-sm btn-outline-success">Отправить</button>
        </form>
    </div>
</div>
<div class="media mb-4">
    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
    <div class="media-body">
        <h5 class="mt-0">Валентина Гимнастова</h5>
        Мое очень важное мнение по данной статье. Мое очень важное мнение по данной статье. Мое очень
        важное мнение по данной статье. Мое очень важное мнение по данной статье. Мое очень важное мнение
        по данной статье.
    </div>
</div>