{% extends './base.html' %}

{% load static %}

{% block title %}{{ post.title }}{% endblock %}


{% block header %}
    {% include './block/header.html' %}
{% endblock %}


{% block content_news %}

<div class="container-fluid mt-0" style="background-color: #eceff1">
    <div class="container">
        <div class="row">

            <!--    ЭТО КОЛОНКА КОНТЕНТА ПОСТА -->

            <div class="col-lg-8">

                <!--    ЭТО ХЛЕБНЫЕ КРОШКИ -->

                <nav aria-label="breadcrumb" class="mt-4">
                    <ol class="breadcrumb" style="background-color: #cfd8dc">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ post.h1 }}</li>
                    </ol>
                </nav>

                <!--    ЭТО ТЕЛО ПОСТА -->

                <img class="img-fluid rounded " src="{{ post.image.url }}" alt="">
                <hr>
                <p class="lead">
                    {{ post.description|safe }}
                </p>
                <p>
                    {{ post.content|safe }}
                </p>
                <hr>
                <p class="lead text-right">Автор: {{ post.author }}</p>
                <hr>
                <p class="text-right">Опубликовано {{ post.created_at }}</p>
                <hr>

                <!--    ЭТО КОМПОНЕНТ С КОММЕНТАРИЯМИ -->

                {% include './block/comments.html' %}

            </div>

            <!--    ЭТО ПРАВАЯ КОЛОНКА -->

            {% include './block/rside.html' %}
        </div>
    </div>
</div>


{% endblock %}